body,window{
    max-width:100%;
    overflow-x:hidden;
    margin:0;
}

body{
    font-family:'Open Sans', sans-serif;
    background:#efefef;
    font-size:20px;
}

.home-video{
    margin:0;
}

.content{
    margin:0 20px;
    max-width:100%;
    overflow-x:hidden;
}

h1,h2,h3,h4{
    font-weight:300;
}

a,
a:active{
    color:#25c;
    transition:all 0.3s;
    text-decoration:none;
}
a:hover{
    margin-left:10px;
}

.projects-table .thumb{
    width:120px;
}

.projects-table{
    border-collapse: collapse;
    width:100%;
}

.projects-table td{
    padding:20px;
    border:none;
    font-size:80%;
}

.projects-table tr:nth-child(2n+1){
    background: #ddd;
}
