body{
    background:black;
    padding:0;
    margin:0;
}

canvas[name='brick']{
    position:absolute;
    top:0;
    left:0;
}

canvas[name='tree']{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}