body{
    background:#ffffff;
    padding:0;
    margin:0;
}

canvas[name='bricks']{
    position:absolute;
    top:0;
    left:0;
}

canvas[name='tree']{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}

canvas[name='village']{
    position:absolute;
    top:960px;
    left:0;
    z-index:20;
}