@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

.text-center{
    text-align:center;
}

body{
    background:#eee;
    color:#000;
    min-height:1000px;
    max-width:100%;
    overflow-x:hidden;
}

h1{
    text-align:center;
}

canvas{
    vertical-align: middle;
    margin:0;
    background:#fff;
    margin-top:10px;
    margin-bottom:10px;
}

.canvas-with-whitespace{
    margin-top:100px;
    margin-bottom:100px;
}

.title-canvas-container{
    position:relative;
}

.title-canvas{
    box-shadow:none;
    margin-top:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.title-canvas-container-title{
    position:absolute;
    width:100%;
    top:50px;
    font-size:100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    color:#fff;
    transition:all 2s;
}

.top-links {
    background: none repeat scroll 0% 0% #FFF;
    color: #444;
    padding: 13px;
}
@media all and (min-width:900px){
    .top-links{
        margin-top:18px;
        margin-bottom: -65px;
        position: relative;
        z-index:3;
        opacity: 0.8;
    }
    .top-links:hover{
        opacity: 1;
    }
}

.top-links span{
    font-weight:bolder;
    text-transform:uppercase;
    font-size:14px;
}

a{
    color:#3366FF;
    text-decoration:none;
}